.card-image {
   max-width: 70%;
   min-width: 70%;
}

.about-me-text {
   width: 70%;
}

ul {
   list-style: none;
}

li {
   margin: 0.5rem 0;
   font-weight: 700;
}

.skill-name {
   background-color: rgb(10, 119, 65);
   padding: 1px 8px;
   color: aliceblue;
   border-radius: 5px;
}